@page
@model IndexModel
@{
    ViewData["Title"] = "Online Resume Builder";
}

<div class="text-center d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 180px)">
    <div>
        <h1 class="display-4">Welcome to Online Resume Builder</h1>
        <h4>Currently you have no resume yet, please build one from the button below</h4>
        <a href="/CreateCVPage" class="btn btn-primary">Click here</a>
    </div>
</div>